*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    background: linear-gradient(#0e2034 20% ,#b90707 100%);
    overflow: hidden;
    
}

center{
   margin-top: 40vh;
   padding: 0;
}
.WO{
    color: tomato;
}
.ma{
    color: white;
}
.Ben-10{
    background: linear-gradient(135deg, rgba(#07b936 100%), rgba(#5a0b57 20% ));
    border-radius: 12px;
    box-shadow: 8px 8px 32px 0 rgba(0, 0, 0, 0.6);
    width: 600px;
    padding: 7px 0px;
}


@media screen and (max-width:475px) {
    .Ben-10{
        overflow-y: hidden;
        background-repeat: no-repeat;
    }
    
}